name: validate

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read
  pull-requests: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25.x"
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
      - run: |
          git config --global user.email "test@example.com"
          git config --global user.name "Test Committer"
      - run: go test -cover ./...
